<div class="flex flex-wrap items-end justify-between gap-4 text-gray-600">
  <div class="flex items-center gap-4 font-semibold text-green-900">
    <span>{{first()}}</span>
    <div class="text-gray-400">|</div>
    <span>{{second()}}</span>
    <div class="text-gray-400">|</div>
    <span>{{third()}}</span>
  </div>

  <div class="flex items-center justify-between gap-4">
    <!-- filter control -->
    <app-dropdown-control
      [options]="filterOptions()"
      [(selectValue)]="selectedFilterValue"
    ></app-dropdown-control>
    <!-- sort control -->
    <app-dropdown-control
      [options]="sortOptions()"
      [(selectValue)]="selectedSortValue"
    ></app-dropdown-control>
    <!-- search control -->
    <app-custom-search [(searchQuery)]="searchQuery"></app-custom-search>
  </div>
</div>
