<section class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 my-8">
  <div>
    <app-section-title title="Built for real life"></app-section-title>
    <div class="mt-6">
      <p class="mb-4">
        Cooking should'nt be complicated. These recipes com in under
        <span>30 Minutes</span> of active time, fit busy schedules, and taste
        good enough to repeat.
      </p>
      <p>
        Whether you'r new to the kitchen or just need fresh ideas, we've got you
        coverd.
      </p>
    </div>
  </div>
  <div class="relative overflow-hidden rounded-xl">
    <img
      src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg"
      alt="instruction image"
    />
  </div>
</section>
