<section class="max-w-4xl mx-auto mt-18">
  <!-- heading -->
  <div class="grid place-items-center">
    <app-section-title
      title="Explore our simple, healthy recipes"
    ></app-section-title>
    <p class="text-green-900 text-center max-w-lg mt-4">
      Discover eight quick, whole-food dishes that fit real-life schedules and
      taste amazing. Use the search bar to find a recipe by name or ingredient,
      or simply scroll the list and let something delicious catch your eye.
    </p>
  </div>

  <!-- filter & search -->
  <div class="flex items-center justify-between gap-8 mt-8">
    <div class="flex items-center gap-8">
      <div>dropdown</div>
      <div>dropdown</div>
    </div>
    <div>search</div>
  </div>
</section>
