<section class="max-w-4xl mx-auto mt-12 mb-16">
  <!-- heading -->
  <app-section-heading
    title="Explore our simple, healthy recipes"
    desc="Discover eight quick, whole-food dishes that fit real-life schedules and
      taste amazing. Use the search bar to find a recipe by name or ingredient,
      or simply scroll the list and let something delicious catch your eye."
  ></app-section-heading>

  <!-- filter & search -->
  <div
    class="flex flex-wrap items-center justify-between gap-8 mt-8 border-b border-gray-300 pb-2"
  >
    <div class="flex items-center gap-4">
      <app-dropdown-control
        [options]="prepTimeOptions"
        [selectValue]="selectedPrep()"
        (selectValueChange)="onPrepSort($event!)"
      ></app-dropdown-control>
      <app-dropdown-control
        [options]="cookTimeOptions"
        [selectValue]="selectedCook()"
        (selectValueChange)="onCookTimeSort($event!)"
      ></app-dropdown-control>
    </div>

    <!-- custom search -->
    <div class="w-full max-w-65">
      <app-custom-search
        (searchQueryChange)="onSearchFilter($event!)"
      ></app-custom-search>
    </div>
  </div>

  <!-- data -->
  @if (!isLoading()) {
    <article
      class="grid grid-cols-1 md:grid-cols-3 items-center justify-between gap-8 mt-7"
    >
      @for (recipe of filteredRecipes(); track recipe.id) {
        <app-recipe
          [recipe]="recipe"
          [isFavoriteIconVisible]="true"
          (review)="reviewRecipe($event)"
        ></app-recipe>
      } @empty {
        <p class="text-center w-full col-span-3 text-gray-600">
          Nothing found...
        </p>
      }
    </article>
  } @else {
    <div class="mt-8">
      <app-loading></app-loading>
    </div>
  }
</section>
