<section class="max-w-4xl mx-auto mt-12 mb-16">
  <!-- heading -->
  <div class="grid place-items-center">
    <app-section-title
      title="Explore our simple, healthy recipes"
    ></app-section-title>
    <p class="text-green-900 text-center max-w-lg mt-4">
      Discover eight quick, whole-food dishes that fit real-life schedules and
      taste amazing. Use the search bar to find a recipe by name or ingredient,
      or simply scroll the list and let something delicious catch your eye.
    </p>
  </div>

  <!-- filter & search -->
  <div class="flex flex-wrap items-center justify-between gap-8 mt-8">
    <div class="flex items-center gap-4">
      <app-dropdown-control [options]="prepTimeOptions"></app-dropdown-control>
      <app-dropdown-control [options]="cookTimeOptions"></app-dropdown-control>
    </div>

    <!-- custom search -->
    <div class="w-full max-w-65">
      <app-custom-search></app-custom-search>
    </div>
  </div>

  <!-- data -->
  <article
    class="grid grid-cols-1 md:grid-cols-3 items-center justify-between gap-8 mt-7"
  >
    @for (recipe of recipes(); track recipe.id) {
    <app-recipe [recipe]="recipe" (review)="reviewRecipe($event)"></app-recipe>
    }
  </article>
</section>
