<nav class="flex md:flex-row flex-col gap-4 md:gap-8">
  <a
    href="#"
    class="text-gray-700 hover:text-gray-900 relative pb-1 transition-colors font-medium group md:inline-block"
    routerLink="/"
    routerLinkActive="text-green-900"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <span>Home</span>
    <span
      class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300 group-hover:w-[calc(100%-1rem)] md:group-hover:w-full"
    ></span>
    <span
      class="absolute bottom-0 left-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300"
      [ngClass]="{
        'w-[calc(100%-1rem)] md:w-full': isLinkActive('/')
      }"
    ></span>
  </a>
  <a
    href="#"
    class="text-gray-700 hover:text-gray-900 relative pb-1 transition-colors font-medium group md:inline-block"
    routerLink="/recipes"
    routerLinkActive="text-green-900"
  >
    <span>Recipes</span>
    <span
      class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300 group-hover:w-[calc(100%-1rem)] md:group-hover:w-full"
    ></span>
    <span
      class="absolute bottom-0 left-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300"
      [ngClass]="{
        'w-[calc(100%-1rem)] md:w-full': isLinkActive('/recipes')
      }"
    ></span>
  </a>
  <a
    href="#"
    class="text-gray-700 hover:text-gray-900 relative pb-1 transition-colors font-medium group md:inline-block"
    routerLink="/favorites"
    routerLinkActive="text-green-900"
  >
    <span>Favorites</span>
    <span
      class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300 group-hover:w-[calc(100%-1rem)] md:group-hover:w-full"
    ></span>
    <span
      class="absolute bottom-0 left-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300"
      [ngClass]="{
        'w-[calc(100%-1rem)] md:w-full': isLinkActive('/favorites')
      }"
    ></span>
  </a>
  <a
    href="#"
    class="text-gray-700 hover:text-gray-900 relative pb-1 transition-colors font-medium group md:inline-block"
    routerLink="/about"
    routerLinkActive="text-green-900"
  >
    <span>About</span>
    <span
      class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300 group-hover:w-[calc(100%-1rem)] md:group-hover:w-full"
    ></span>
    <span
      class="absolute bottom-0 left-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300"
      [ngClass]="{
        'w-[calc(100%-1rem)] md:w-full': isLinkActive('/about')
      }"
    ></span>
  </a>
  <a
    href="#"
    class="text-gray-700 hover:text-gray-900 relative pb-1 transition-colors font-medium group md:inline-block"
    routerLink="/guests"
    routerLinkActive="text-green-900"
  >
    <span>Guests</span>
    <span
      class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300 group-hover:w-[calc(100%-1rem)] md:group-hover:w-full"
    ></span>
    <span
      class="absolute bottom-0 left-0 h-0.5 bg-orange-500 rounded-full transition-all duration-300"
      [ngClass]="{
        'w-[calc(100%-1rem)] md:w-full': isLinkActive('/guests')
      }"
    ></span>
  </a>
</nav>
