@use "tailwindcss";

:root[data-theme="light"] {
  --bg: #f1f0f0;
  --fg: #fafafa;
  --primary: #064e3b;
  --text: #6b7280;
  --hover: #61646a;
  --border: #cbcbcb;
  --dropdown: #fafafa;
  --disabled: #ececec;
  --red: #f03a3a;
  --blue: var(--color-blue-600);
  --light-green: var(--color-green-100);
  --hover-green: var(--color-green-200);
  --yellow: var(--color-yellow-100);
  --hover-yellow: var(--color-yellow-200);
}

:root[data-theme="dark"] {
  --bg: #1c1c1c;
  --fg: #202020;
  --primary: #86efac;
  --text: #bfc7d4;
  --hover: #c9d3e2;
  --border: #484848;
  --dropdown: #404040;
  --disabled: #303030;
  --red: #f96e6e;
  --blue: var(--color-blue-400);
  --light-green: var(--color-green-900);
  --hover-green: var(--color-green-700);
  --yellow: var(--color-yellow-600);
  --hover-yellow: var(--color-yellow-500);
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--bg);
  color: var(--text);
}
