@use "tailwindcss";

:root[data-theme="light"] {
  --bg: #ffffff;
  --fg: #1a1a1a;
}

:root[data-theme="dark"] {
  --bg: #181616;
  --fg: #ffffff;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--bg);
  color: var(--fg);
}
